@font-face {
    font-family: 'Time';
    src:
    local('Time'),
    url('./media/Time/Time\ Normal/Time Normal.ttf')  
  }

*{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



div.container {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    height: 1000px;
    width: 800px;
}

div.display {
    display: flex;
    justify-content: flex-end;
    
    font-size: 100px;
    font-family: Time;

    background-color: #F1FFCC;
    height: 100px;
    width: 600px;
    padding: 30px;
}

div.buttonsContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    height: 450px;
    width: 650px;
    margin: 150px 75px ;
}

.calcBtn{
    display: flex;
    flex: 1 0 auto;
    color: white;
    background-color: darkslateblue;

    font-size: 64px;
    
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    height: 130px;
    width: 130px;

    box-shadow: 4px 4px 4px 4px rgba(6, 6, 6, 0.2);
}